 /* PERFIL CLIENTE*/

 div.container{
   margin: 2%;
 }
 
 div.group2{
 padding-left: 2%;
 padding-right: 2%; 
 }

 label, h3{
   font-size: 3vw;
 }
  div#um{
    font-size: 3vw;  
    margin-left: 6%;
   margin-top: 2%;
  }






