*{margin: 0px; padding: 0px}

:root{
 --ajustes: 100vw;
    --equilibro: 50vw;
}
html{scroll-behavior: smooth;}

#container header{
  background-color: #f6dddf;
  width: 100%;
  display: flex;
}



#container header form input:first-child{
  height: 44px;
  border: 2px solid #FF757F;
  border-radius: 50px;
  background-color: #f6dddf;

}
#complemento{height: 50px; width: 100%; background-color: #f2f2f2}

/*---------------CONTEUDO 1PAG---------------*/
figure figcaption p{
font-size: 25px;
color: #ED545B;
}
figure img{width: 100%}

figure figcaption{
 position: absolute;
}
figure figcaption a{
  position: relative;
  text-decoration: none;
  border: 3px solid #ED545B;
  top: 2rem;
  border-radius: 20px;
  color: #ED545B;
  padding: 15px 30px;
  margin: 7VW;
}

figure figcaption a:active{
  color: #FF757F;
  border-color: #FF757F;
}

/*---------------CONTEUDO 2PAG---------------*/
#nos{ background-color: #F2F2F2; padding: 9vw; }
#nos h2{
   text-align: CENTER;
}

#nos p{
  margin-top: 7vw;
  line-height: 28px;
}

#carrossel{ position:relative; width:100%;  overflow: hidden;}
#caixa{ position:absolute;}
#caixa img{ float:left; }

#container main #nav_fixo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
/*--------------------loja--------------*/

.oi{
    width: 40vw;
    height: 150px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
}

.hidde{ height: 90%; margin: 10px; }

.produto_loja{
    border: 1px solid #FF757F;
    border-radius: 20px;
    margin: 23px; 
    background: #f6dddf;
    
}
#filtro{
  margin: 20px;
}

#filtro img{
  width: 62px;
}

#filtro a{
  position: relative;
  bottom: 20px; 
  margin-left: 14px
}
.produto_loja a{
  text-decoration: none
}
#container main #setasConjunto{
	display:flex;
	justify-content: center;
	align-items:center;
}
 /* --------------------PERFIL CLIENTE--------------------*/

 div.container{
   margin: 2%;
 }
 
 div.group2{
 padding-left: 2%;
 padding-right: 2%; 
 }

 label, h3{
   font-size: 3vw;
 }
  div#um{
    font-size: 3vw;  
    margin-left: 6%;
   margin-top: 2%;
  }


  /*-------produto-------------*/

  #produto{margin: 40px 30px; width: 80%}/*conserta em cada pagina de css*/
  #SobreProduto{
    color:#5E5E5E;
    font-family: Arial, Helvetica, sans-serif
    }
  #SobreProduto h1{font-size: 32px;}
  #valorP{
    display: flex;
    margin-top: 10px;
    justify-content:space-around
    }
  #valorP a{
    padding:10px;
    background-color: #169BD5;
    color: white;
    border-radius: 5px;
    text-decoration: none
  }
  #descrip_produto{
    width: 100%;
    border: 1px solid black;
    margin-top: 30px;
    padding: 10px
  }

  #PrimeiraCaixa{height: 115px; overflow: auto;}
  #SegundaCaixa a img{width: 105px; margin: 30px 0px 40px 60px}
  #SegundaCaixa article{float: left;}
  #SegundaCaixa article h3{margin-top: 3px}
  #MensagemEnviar form{font-family: Arial, sans-serif;}
  #MensagemEnviar{display: none}
  #MensagemEnviar form label{
    border: 1px solid;
    display: flex;
    padding: 8px;
    margin-top: 5px;
  }
  #MensagemEnviar form textarea{
    resize: none;
    margin-top: 5px;
    width: 99%;
    height: 200px;

  }
  #btnForm{position: absolute; top:410px; right: 19%;} 

  #all_icones{
    width: 65%;
    height: 50px;
    background-color: #f6dddf;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center
  }

  #all_icones img{width: 42px;}

  /*----------PERFIL VENDEDOR-----------*/

    #vendedor{width: 85%; margin: 10px 5% 0 5%;}
    #TopoVendedor{
      padding: 10px;
      background-color: #f6dddf;
      width: 100%;
     }
     #TopoVendedor h1{float: right; margin-right: 70px}
     #InfoVendedor{padding: 10px; width: 100%;}
     #InfoVendedor article h3{margin-top: 5px}
     #MenuVendedor ol{width: 100%; background-color: #f6dddf; padding: 5px 0 5px 0; margin-bottom: 4px}
     #MenuVendedor ol li{display: inline;}
     #MenuVendedor ol li:first-child{border-right: 1px solid black;}
     #MenuVendedor ol li{
       padding: 5px 17% 5px 17%;
       font-size: 16px;
       font-family: arial, sans-serif
      }
      #FotosVendedor img, #ProdutosVendedor img, #ProdutosVendedorL img{width: 156px;}

      #FotosVendedor{margin-top: 15px; text-align: center}
      #ProdutosVendedor, #ProdutosVendedorL{margin-top: 15px; display: none; text-align: center}

      #FotosVendedor a, #ProdutosVendedorL a{padding: 35px 8px;border: 1px  dashed blue; margin: 0 0 0 8px; float: left; text-decoration: none}
      #ProdutosVendedorL form{display: none}
  