
#container header{
    height: 100px;
 }
 #logo{width: 95px;}

  #user_icone, #loja_icone{margin: 0px 15px 0 5vw; width: 60px;}
  #user_icone:hover, #loja_icone:hover{border: 1px solid black;}
  #icones_topo{ position: absolute;left: 70vw; top: 10px}
  #container header form input{
    position: relative;
    margin: 15px 0 0 56px;
  }
  #container header form input:first-child{
    width: 480px;
    padding-left: 68px;
    font-size: 20px;
    height: 50px;
    margin-top: 20px;
  }
  #container header form input:last-child{
    top: 10px;
    right: 510px;
   }


/*------------------------- pagina 1 --------------- */
figure figcaption p{
    width: 880px;
    font-size: 40px;
    left: calc(48vw - 350px);
    top: 320px
}

figure figcaption a{
  margin: 90px 
}
#container main section figure{ height: 800px; overflow: hidden;}

/* ------------------------pagina 2 ---------------- */

   #nos h2{font-size: 42px}
   #nos p{
    font-size: 33px;
  line-height: 50px;
  width: 800px;
  margin-left: calc(48vw - 480px);
  }


  /* ---------------------- carrossel ------- */

  #carrossel{ width: 99.8%; height: 400px; border: 1px solid black;}
  #caixa{top: 87.5px; left: calc(49vw - 9vw - 400px);}
  #caixa img{width: 400px;}
  #caixa img:nth-child(2){height: 225px;  padding-left: 18vw}
  #caixa img:last-child, #caixa img:nth-child(3){display: none;}
  
  
  /*--------------------------------loja----------------------*/

    #caixa_produtos{display: flex}
  .produto_loja {
    width: 240px;
    height: 240px;  
}

.oi{
  width: 200px;
  height: 170px;
  margin: 40px 10px 10px 10px ;
  border-radius: 20px;
}

.nome_descricao{
position: relative;
}

.nome_descricao h3{
position: relative;
font-size: 25px;
text-align: left;
bottom:235px;
left: 24px;
}

.nome_descricao p{
  width: 190px;
  height: 160px;
  position: relative;
  font-size: 20px;
  left: 25px;
  bottom:225px; 
  display: none;
}
.produto_loja:hover .oi img{opacity: 0.5;}

.produto_loja:hover .nome_descricao p{display: block;}






