
#container div{display: inline-block; margin: 0; padding: 0;}
#container div:nth-child(1){width: 49vw; height: calc(var(--ajustes)/2); background-color: blue}
#container div:nth-child(2){width: 49vw; height: calc(var(--ajustes)/2); background-color: green}
#container div:nth-child(3){width: 49vw; height: calc(var(--ajustes)/2); background-color: red}
#container div:nth-child(4){width: 49vw; height: calc(var(--ajustes)/2); background-color: black}