<div id="branco" style="width: 50%;height: 30px"></div>
<?php
       if(isset($_SESSION["email"]) and isset($_SESSION["defini"])){
        if($_SESSION["defini"] == 3){
            echo '<input id="navbar" type="checkbox">';
            echo '<label for="navbar" id="LHburg">';
            echo "<div class='menuBurg'>";
            echo  "<span class='hamburger'></span>";
            echo   "</div>";
            echo   "</label>";
        
           echo'<ul id="selecton">';
           echo     '<li><a class="HBurg" id="abriAdd" href="#" onclick="abreCadastro()">+1 ADM</a></li>';
           echo '<div id="NewADM" style="position: absolute;display: none">
            <form action="../cadastro/cadastroADM.php" method="POST">
                <input type="text" name="nomeAdm" placeholder="Nome Adm">
                <input type="email" name="emailAdm" placeholder="Email do Adm">
                <input type="password" name="senhaAdm" placeholder="Senha adm">
                <input type="submit">
            </form><br></div>';
            echo     '<li><a class="HBurg" id="DesceMA" href="../perfil/deslogar.php">Deslogar</a></li>';
            echo '</ul>';
          
           
        }else{
    
        }
        }else{}
       ?> 
<section id=c>
        <nav>
                <ol id="menu">
                    <li><a href="../../" class="item home">HOME</a>
                    <li><a href="../loja/" class="item">LOJA</a>
                   <?php 
                   if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                       if($_SESSION["defini"]!= 3){
                       echo '<li><a href="../perfil/perfil.php" class="item login" id="link">PERFIL</a>';
                       }else{
                        echo '<li><a href="../allUser/" class="item login" id="link">PERFILS</a>';
                       }
                   }else{
                      echo '<li><a href="../login/" class="item login" id="link">LOGIN&nbsp;/&nbsp;CADASTRO</a>';        
                   }
                   ?> 
                </ol>
                </nav>
</section>      


<footer>
        <img src="../_imagens/logo.png">
        <a href="../../"><p>Casamedosonhos.com</p></a>
            <p>grupo 5 INI3A</p>
           
</footer>
</div>