
<footer>
            <img src="../_imagens/logo.png">
            <a href="../../"><p>Casamedosonhos.com</p></a>
                <p>grupo 5 INI3A</p>
                <section id=c>
                        <nav>
                                <ol id="menu">
                                    <li><a href="../../" class="item home">HOME</a>
                                    <li><a href="../loja/" class="item">LOJA</a>
                                   <?php 
                                   if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                                       echo '<li><a href="../perfil.php" class="item login" id="link">&nbsp;PERFIL&nbsp;</a>';
                                       
                                   }else{
                                      echo '<li><a href="../login/" class="item login" id="link">LOGIN&nbsp;/&nbsp;CADASTRO</a>';        
                                   }
                                   ?> 
                                </ol>
                                </nav>
                </section>
</footer>
           

<footer>

</footer>   
</div>