<!DOCTYPE html>

        <title>Casamento dos Sonhos</title>
        <meta charset=UTF-8>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <meta name=description content="Uma maneira simples de fazer seu casamento">
        <meta name=keywords content="Casamento">
        <meta name=author content='Amanda Isabeli, Gustavo Felipe, Hellen Cristina, Hiago Victor, Leonardo Amorim, Nathan Garcia INI3A'>         
        <link href="../_css/default.css" rel=stylesheet>
        <!-- Telas Responsivas -->
        <link rel=stylesheet media="screen and (max-width:480px)" href="../_css/style480.css">
        <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="../_css/style760.css">
        <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="../_css/style1024.css">
        <link rel=stylesheet media="screen and (min-width:1025px)" href="../_css/style1366.css">
        <link rel="icon" href="../_imagens/favicon.ico" type="image/x-icon">
        <!-- Jquery-->
        <script src="../_js/jquery-3.3.1.min.js"></script>
        <script src="../_js/javascript.js"></script>
        <script src="../_js/passopasso.js"></script>
        <script src="../_js/jquery.easing.min.js"></script>
        <script src="../_js/jquery.min.js"></script>
        <script src="../_js/perfil.js"></script>
        <script src="../_js/adm.js"></script>
        <div id="container">

            <header>
                <a href="../../"><img src="../_imagens/logo.png" title="Casamento dos sonhos" id="logo"></a>
                <div id="ferramentas_topo">
                <form method="get" action="../pesquisa/">

                <input type="search" name="pesquisar" id="pesquisar" maxlength="34">
                <input type="image" src="../_imagens/pesquisar.png" style="width: 28px; height: 28px;" name="pesquisar">  

                </form> 

                <div id="icones_topo">
                <?php if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                    if($_SESSION["defini"]!= 3){
                        echo '<a href="../perfil/perfil.php"><img id="user_icone" src="../_imagens/user.png" title="Casamento dos sonhos"></a>';
                    }else{
                        echo '<a href="../allUser/"><img id="user_icone" src="../_imagens/user.png" title="Casamento dos sonhos"></a>';
                    }
                    }else{
                        echo '<a href="../login/"><img id="user_icone" src="../_imagens/user.png" title="Casamento dos sonhos"></a>';
                    }
                    ?>
                <a href="../loja/"><img id="loja_icone" src="../_imagens/loja.png" title="Casamento dos sonhos"></a>   
                </div></div>
            </header>




