          <section id="filtro">
            <img src="../_imagens/filtro.gif" title="icone_filtro">
          </section>
          
        <div class="somenteE">
          <a href=""><img class="x2" src="../_imagens/seta_esquerda.png"></a><br>
         <form action="PesquisarUsuario.php" method="GET">
          <input id="cC" type="text" placeholder="Nome" name="Nome" require d-size = ""><br><br>
           <p class="LadoLado"><input type="checkbox" required-size = "">Cliente</p>
          <p class="LadoLado"><input type="checkbox" required-size = "">Empresa<p>
              <br>
          <input type="submit" value="Pesquisar" id="AU">
        </form>
        </div>
          

        </div>
<div class="adm">
    <a href=""><img class="abc" src="../_imagens/galeria3.jpeg"></a>
    <a href=""><img class="abc" src="../_imagens/galeria3.jpeg"></a>
    <a href=""><img class="abc" src="../_imagens/galeria3.jpeg"></a>
    <a href=""><img class="abc" src="../_imagens/galeria3.jpeg"></a>
    <script>
      $(function(){
           var y = 1;
      $(".camp form").css("display","none");
      $(".x").css("display","none");
      $(".fil").on("click", function(){
        $(".camp form").css("display","block");
        $(".x").css("display","block");
        $(".x").css("margin","5px");
        $(".camp").css("border-radius", "10px");
        $(".camp").css("border", "1px solid");
    });
    $(".x").on("click",function(){
      $(".camp form").css("display","none");
      $(".x").css("display","none");
    });
  });
    </script>
</div>
