          <section id="filtro">
            <img src="../_imagens/filtro.gif" title="icone_filtro" id="FechaSeta" style="cursor:pointer" onclick="abrirF()">
          </section>
          
        <div class="somenteE">
            <img class="x2" src="../_imagens/seta_esquerda.png"  style="cursor:pointer" onclick="abrirF()"><br>
         <form action="../allUser/" method="POST">
          <input id="cC" type="text" placeholder="Nome" name="NomeCC" require d-size = ""><br><br>
           <p class="LadoLado"><input type="checkbox" name="escolhaC[]" value="cliente" equired-size = "">Cliente</p>
          <p class="LadoLado"><input type="checkbox" name="escolhaC[]" value="empresa" required-size = "">Empresa<p>
              <br>
          <input type="submit" value="Pesquisar" id="AU">
        </form>
        </div>
          

        </div>
<div class="adm">
  <?php 
    foreach($ahri as $total){
      $quebra = explode(",", $total);
          if(isset($perfilU[$quebra[1]]["nome_usu"]) and $quebra[0] == $perfilU[$quebra[1]]["nome_usu"].".casal"){
              echo '<div class="NND"><a href="../perfil/perfil.php?codigo='. $perfilU[$quebra[1]]["cod_usu"].'&par=1"><img class="abc" src="'. $perfilU[$quebra[1]]["foto_usu"]. '"><div class="desc_user"><span >'.$perfilU[$quebra[1]]["nome_usu"]. ' e '. $perfilU[$quebra[1]]["nome_par_usu"].'</span></div></div></a>';
            }else if(isset($perfilE[$quebra[1]]["nome_empre"]) and $quebra[0] == $perfilE[$quebra[1]]["nome_empre"]. ".empresa"){
              echo '<div class="NND"><a href="../perfil/perfil.php?codigo='. $perfilE[$quebra[1]]["cod_empresa"].'&par=2"><img class="abc" src="'. $perfilE[$quebra[1]]["foto_empre"]. '"><div class="desc_user"><span >'.$perfilE[$quebra[1]]["nome_empre"].'</span></div></div></a>';
            }else{echo "algo de errado nao esta certo";   }
             
          }
          ?>
          <div style="width:100%; height: 100px"></div>
    <script>
      $(function(){
           var y = 1;
      $(".camp form").css("display","none");
      $(".x").css("display","none");
      $(".fil").on("click", function(){
        $(".camp form").css("display","block");
        $(".x").css("display","block");
        $(".x").css("margin","5px");
        $(".camp").css("border-radius", "10px");
        $(".camp").css("border", "1px solid");
    });
    $(".x").on("click",function(){
      $(".camp form").css("display","none");
      $(".x").css("display","none");
    });
  });
    </script>
</div>
