<html>
<head>
        <title>Casamento dos Sonhos</title>
        <meta charset=UTF-8>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <meta name=description content="Uma maneira simples de fazer seu casamento">
        <meta name=keywords content="Casamento">
        <meta name=author content='Amanda Isabeli, Gustavo Felipe, Hellen Cristina, Hiago Victor, Leonardo Amorim, Nathan Garcia INI3A'>         
        <link href="../_css/default.css" rel=stylesheet>
        <!-- Telas Responsivas -->
        <!--<link rel=stylesheet media="screen and (min-width:1025px)" href="../_css/style1366.css">-->
        <script src="../_js/jquery-3.3.1.min.js"></script>
        <script src="../_js/javascript.js"></script>
</head>

    

<body style="background-color: #f6dddf">
    <section id="Campo_Login">
      
        <div class="teste">
            <img id="logologin" src="../_imagens/logo.png" title="logo_login">
        <div class="campo">
            <form action="verificarLogin.php" method="POST">
            <label>Entrar</label><br/><br/>
            <input type="text" placeholder="E-mail" name="email" required-size = ""> <br/><br/>
            <input type="password" placeholder="Insira sua Senha" name="senha" required-size=""><br/><br/>

            <input type="submit" value="Entrar" id="btn_entrar"> <br/><br/>
            </form>
        </div>        
           <p>Ainda não possui uma conta?</p> <a href="cadastro.html"> cadastre - se</a><br>
           <a href="index.html">Voltar a pagina inicial</a>
        </div>
        
    </section>
</body>
</html>
