<!DOCTYPE html>

        <title>Casamento dos Sonhos</title>
        <meta charset=UTF-8>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <meta name=description content="Uma maneira simples de fazer seu casamento">
        <meta name=keywords content="Casamento">
        <meta name=author content='Amanda Isabeli, Gustavo Felipe, Hellen Cristina, Hiago Victor, Leonardo Amorim, Nathan Garcia INI3A'>         
        <link href="../_css/default.css" rel=stylesheet>
        <!-- Telas Responsivas -->
        <link rel=stylesheet media="screen and (max-width:480px)" href="../_css/style480.css">
        <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="../_css/style760.css">
        <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="../_css/style1024.css">
        <link rel=stylesheet media="screen and (min-width:1025px)" href="../_css/style1366.css">
        <!-- Jquery-->
        <script src="../_js/jquery-3.3.1.min.js"></script>
        <script src="../_js/javascript.js"></script>
        <script src="../_js/passopasso.js"></script>
        <script src="../_js/jquery.easing.min.js"></script>
        <script src="../_js/jquery.min.js"></script>

        <div id="container">

    

<body style="background-color: #f6dddf">
    <section id="Campo_Login">
      
        <div class="teste">
            <img id="logologin" src="../_imagens/logo.png" title="logo_login">
        <div class="campo">
            <form action="verificarLogin.php" method="POST">
            <label>Entrar</label><br/><br/>
            <input type="text" placeholder="E-mail" name="email" required-size = ""> <br/><br/>
            <input type="password" placeholder="Insira sua Senha" name="senha" required-size=""><br/><br/>

            <input type="submit" value="Entrar" id="btn_entrar"> <br/><br/>
            </form>
        </div>        
           <p>Ainda não possui uma conta?</p> <a href="../cadastro/"> cadastre - se</a><br>
           <a href="../../">Voltar a pagina inicial</a>
        </div>
        
    </section>
</body>
</div>
