
    <main>            
               <section id="filtro">
                   <img src="../_imagens/filtro.gif" title="icone_filtro" id="FechaSeta" style="cursor:pointer" onclick="abrirF()">
                </section>
                <section id="caixa_produtos">
                        <div class="somenteE" id="PFiltro" style="z-index:2">
                                <img class="x2" src="../_imagens/seta_esquerda.png"  style="cursor:pointer" onclick="abrirF()"><br>
                                <form action="../pesquisa/" method="POST">
                                    <input id="cC" type="text" placeholder="Nome" name="nomeF" require d-size = ""><br><br>
                                     <p class="LadoLado"><input type="checkbox" name="escolhaC[]" value="produto" required-size = "">Produto</p>
                                    <p class="LadoLado"><input type="checkbox" name="escolhaC[]" value="empresa" required-size = "">Empresa<p>
                                        <br>
                                    <input type="submit" value="Pesquisar" id="AU">
                                  </form>
                              
                              </div>
                    
                    <?php
                    if(empty($_GET['index.php?FProduto=FProduto'])){
                        foreach($arry2 as $total){
                            $quebra = explode(",", $total);
                                $i = 0;
                                if(count($produto) > 0 and $quebra[0] == $produto[$quebra[1]]["nome_prod"].".produto"){
    
                                    echo '<div id="produto'. $i. '" class="produto_loja">';
                                    echo '<a href="../produto/index.php?cod=' .$produto[$quebra[1]]['cod_produto']. ' " >';
                                    echo '<div class="oi">';
                                    echo '<div class="hidde">';
                                    echo '<img src="'. $produto[$quebra[1]]['url_foto_prod']. '" title="produto1">';
                                    echo '</div></div>';
                                    echo '<div class="nome_descricao">';
                                    echo '<h3>'. $produto[$quebra[1]]['nome_prod'].'</h3>';
                                    echo '<p>'. $produto[$quebra[1]]['desc_prod'];
                                    echo '</div>';
                                    echo '</a>';
                                    echo '</div>';
                                    
                                  }else if(count($nome) > 0 and $quebra[0] == $nome[$quebra[1]]["nome_empre"].".empresa"){
                                    echo '<div id="produto'. $i. '" class="produto_loja">';
                                        echo '<a href="../perfil/perfil.php?codigo=' .$nome[$quebra[1]]['cod_empresa'].'&par=2" >';
                                        echo '<div class="oi">';
                                        echo '<div class="hidde">';
                                        echo '<img src="'. $nome[$quebra[1]]['foto_empre'].'" title="produto1">';
                                        echo '</div></div>';
                                        echo '<div class="nome_descricao">';
                                        echo '<h3 style="margin: 10px 10px; font-size:30px">'. $nome[$quebra[1]]['nome_empre'].'</h3>';
                                        echo '</div>';
                                        echo '</a>';
                                        echo '</div>'; 
                                  }else{}
                                
                                $i ++;
                                }
                    }else{
                     echo $filtro;
                    
                        }
                        
                    ?>
                    
                   
                
                </section>
            </main>

