
    <main>            
               <section id="filtro">
                   <img src="../_imagens/filtro.gif" title="icone_filtro">
                   <a href="#" id="ClickLoja">Categoria</a>
                </section>
                <section id="caixa_produtos">
                    
                    <?php
                   
                    foreach($arry2 as $total){
                        $quebra = explode(",", $total);
                            $i = 0;
                            if($quebra[0] == $produto[$quebra[1]]["nome_prod"]."."."produto"){

                                echo '<div id="produto'. $i. '" class="produto_loja">';
                                echo '<a href="../produto/index.php?cod=' .$produto[$quebra[1]]['cod_produto']. ' " >';
                                echo '<div class="oi">';
                                echo '<div class="hidde">';
                                echo '<img src="'. $produto[$quebra[1]]['url_foto_prod']. '" title="produto1">';
                                echo '</div></div>';
                                echo '<div class="nome_descricao">';
                                echo '<h3>'. $produto[$quebra[1]]['nome_prod'].'</h3>';
                                echo '<p>'. $produto[$quebra[1]]['desc_prod'];
                                echo '</div>';
                                echo '</a>';
                                echo '</div>';
                                
                              }else if($quebra[0] == $nome[$quebra[1]]["nome_empre"].".". "empresa"){
                                echo '<div id="produto'. $i. '" class="produto_loja">';
                                    echo '<a href="../perfil/perfil.php?codigo=' .$nome[$quebra[1]]['cod_empresa'].'&par=1" >';
                                    echo '<div class="oi">';
                                    echo '<div class="hidde">';
                                    echo '<img src="'. $nome[$quebra[1]]['foto_empre'].'" title="produto1">';
                                    echo '</div></div>';
                                    echo '<div class="nome_descricao">';
                                    echo '<h3>'. $nome[$quebra[1]]['nome_empre'].'</h3>';
                                    echo '</div>';
                                    echo '</a>';
                                    echo '</div>'; 
                              }else{}
                               
                            $i ++;
                            }
                        
                    ?>
                    
                   
                
                </section>
                <section id="Categoria_icones">
                    <a href="#"><img src="../_imagens/icones/Prancheta 1.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 2.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 3.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 4.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 5.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 6.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 7.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 8.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 9.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 10.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 11.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 12.png"></a>
                    <a href="#"><img src="../_imagens/icones/Prancheta 13.png"></a>
                </section>

                <!-- <section id=setasConjunto> 
                    <?php $troca = isset($_GET['pagina'])?$_GET['pagina']:1; // echo $npl."<br>".$CR; 
                        if($troca <= 1){}else{
                            $pagina --;
                            echo '<a href="index.php?pagina='. $pagina. '"><img src="../_imagens/seta_esquerda.png"></a>';
                            }
                    ?>                        
                    
                    <label id="valorTroca"><?php if(isset($_GET['pagina'])){echo $_GET['pagina'];}else{echo "1";} ?></label>
                    
                    <?php if($npl < $CR){
                        $troca ++;
                        echo '<a href="index.php?pagina='. $troca. '"><img src="../_imagens/seta_direita.png"></a>';
                        }else{}
                        ?>
                    
                </section>
                -->
           
                       
            </main>

