
#container header{height: 90px;}
#icones_topo a img{width: 42px;} 
#user_icone, #loja_icone{margin: 0px 15px 0 5vw;}
#icones_topo{ position: absolute;left: 70vw; top: 20px}

#logo{ margin:  20px}
#logo{width: 60px;}
#container header form input{
  position: relative;
  margin: 15px 0 0 26px;
}
#container header form input:first-child{
  width: 45vw;
  padding-left: 7VW;
  height: 50px;
  margin-top: 20px;
}
#container header form input:last-child{
  top: 10px;
  right: 44vw;
 }
/*-----------------------pagina 1 ---------------------*/
 figure figcaption p{
  width: 450px;
  font-size: 38px;
  
}
figure figcaption{left: calc(48vw - 225px);top:  240px; height: 300px}

#container main section figure{ height: 800px; overflow: hidden;}

/* ------------------------pagina 2 ---------------- */

 #nos h2{font-size: 32px}
 #nos p{
  font-size: 23px;
line-height: 40px;
width: 600px;
margin-left: calc(48vw - 350px);
}


/* ---------------------- carrossel ------- */

#carrossel{ width: 99.8%; height: 300px; border: 1px solid black;}
#caixa{top: 65px; left: calc(49vw - 5vw - 300px);}
#caixa img{width: 300px;}
#caixa img:nth-child(2){height: 170px;  padding-left: 10vw}
#caixa img:last-child, #caixa img:nth-child(3){display: none;}

 /*-------------navegação---------*/
 #c{display: none;}
 footer{background-color: #f6dddf; padding: 10px; display: flex; align-items: center; font-size: 21px; position: relative;}
footer a{text-decoration: none; color: black; position: absolute; left: -60px;}
footer p{margin-left: 75%}

/*--------------------------------loja----------------------*/

.produto_loja {
  width: 680px;
  height: 200px;
  margin: 25px  auto;
}

.produto_loja:first-child{
margin-top: 45px;
}

.oi{
width: 30vw;
height: 180px;
}

.nome_descricao{
position: relative;
width: 30vw;
text-align: left;
left:52%;
bottom:186px;
height: 170px;
}

.nome_descricao h3{
font-size: 28px;
padding-bottom: 10px;
padding-bottom: 10px; 
width: 280px; 
height: 26px;
white-space: nowrap;
overflow: hidden;
text-overflow:  ellipsis;
}

.nome_descricao p{
font-size: 20px;
margin-top:10px;  
display: block; 
display: -webkit-box;
max-width: 280px;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

#Categoria_icones a img{
  width: 18%;
}

  /*-------produto-------------*/

  img.ffr{
    width:55%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    margin-top:20px}

      #valorP{
        display: flex;
        margin-top: 6%;
        justify-content:space-around
        }
        #valorP h2 {
          position: relative;
          left: 300px;
          top: 50px
        }
    
      #valorP a{  
        position: relative;
        bottom: 90%;
        left:  240px;
        margin-top: 4%;
        margin-left: -23%;   
        padding: 2.5% 3% 2.5% 3%;
        background-color: #169BD5;
        color: white;
        border-radius: 5px;
        text-decoration: none;
      }
    
      #all_icones{
        margin-top: 9.5%;
        width: 43%;
        height: 40px;
        background-color: #f6dddf;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 48%;
        position: absolute;
      }
      #PrimeiraCaixa{height: 115px; word-break: break-all; overflow: auto;}
      #SegundaCaixa{display: block; float: left; margin: 78% 0% 10% -162%;border: 1px solid black;
         padding: 4% 8% 9% 4%;}
      #SegundaCaixa a img{width: 105px;  margin-left: 22px; margin-top: 22px;}
      #SegundaCaixa article{float: left;}
      #SegundaCaixa article h3{margin-top: 3px;  margin:10px;font-size: 15px}
      #SegundaCaixa article h2{ font-size: 20px}

      #descrip_produto{
        width: 39%;
        border: 1px solid black;
        margin-top: -58%;
        margin-left: 60%;
        padding: 2% 15% 3% 3%;   
      }  
      #produto{margin: 40px 30px; width: 80%}/*conserta em cada pagina de css*/
      #SobreProduto{
        color:#5E5E5E;
        font-family: Arial, Helvetica, sans-serif;  
      }
     
      #MensagemEnviar{display: none;}
      .digi{display: none;}
     
      #btnForm{position: absolute; top:410px; right: 19%;}   
    
      #all_icones img{width: 42px;}  
       #all_icones a img{ width: 55px;}

      .one{
        display: none;
      }
  /*mensagem*/ 
.msg2{
  background-color: pink;
  width: 400px;
  height: 300px;
  border: 1px solid;
  position: fixed;
  left: calc(50vw - 200px);
  bottom:10vw;
  border-radius: 10px;
  
}
  .clos{
    background-color: antiquewhite;
    padding:2% 7% 5% 7%;
    text-decoration: none;
    color: black;
    word-spacing:6px;    
    float: right;
    border-radius: 10px 10px 0px 0;
  }

  label.name{
   text-align: center;
   padding-top:13px;
   border-radius: 10px 10px 0px 0;
   display: block;
   font-size: 18px;
  }
  .ms{
  width: 94.6%;
  height: 200px;
  font-size: 16px;
  padding: 10px;
  }
  /*Enviar*/
  .go{
    width:28px;
    float: right;
    margin-right: 2%
  }

     /*-----------------------------------perfilCliente.html---------------------*/
/*LISTA DE PRESENTE*/
div.tipo{
  word-spacing: 88px;
  padding-left: 28px; 
}

div.lista1{     
  padding-left: 2px;     
  font-size: 16px;     
}

div.lista2 {     
  float: left;
  padding-left: 12%;   
}

a.presente{
  float: left;   
  padding-left: 14px;   
  font-size: 28px;
}

.checkbox{
  display: inline;
  margin: 0;
  padding: 0;
} 

select.custom-select{
  float: right;
  height: 5vw;
  width: 17vw;
  font-size: 2.5vw;
  padding-top: 1px;
}
 

div.email{    
  float: right;    
}

input.e{
  margin-right: 3vw;
  margin-left: 2vw;
  height: 4vw;
  width: 27vw;
}

p.texto{
  font-size: 3vw;
}

/*botao enviar*/
.confirma{
  border-radius: 6px;
  background-color: pink;
  border-color:pink;
  width: 9vw;
  height: 5vw;
  float: right;
  font-size: 2vw;
}

hr{
  margin-top: 2%;
  padding: 0;
  border-style: dotted;    
  border-width: thin;
  border-color: gray;
}

div.form-row{
  display: inline;
}

/*PRINCIPAL*/
/* quadrado com dia local data */
div.prin{   
  background-color: pink;    
  width:57%;     
  border-radius: 6px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;          
  margin-left:6px;
  margin-top: 6px; 
}

div.form2{
  margin-left: auto;       
}

input.form{
  background-color: pink;
  border-color:pink;
  border: 0px;       
}

div.principal{
  text-align: center;    
}

/*imagem*/
 /*imagem*/
 img.galeria3{
  display: block;
  margin: 4% auto;
  width: 70%;       
}

input.form{
  width: 57%;
  font-size: 2vw;
}

/*botao de cima*/
button.btn.btn-primary{
  background-color:pink;
  border:solid grey 1px ;    
  height: 6vw; 
  width: 32%;
  margin-left: -6px;
  font-size: 3vw;           
}

/*img perfil*/
img.perfil{
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  display: block;    
  border-radius: 6px;
  margin-bottom: -2vw;    
}

/*CONFIRMAR PRESENÇA*/
div.form{
  margin-top: 0px;    
}

p#sua{
  font-size: 3vw;
}

div.group2{
  border-color:grey;
  border-style: dotted;    
  border-width: thin;
  border-top-width: 0px;
  padding-top: 0;     
}

div.conf1{       
  float: left;
}

div.conf{
  float: right;
  margin-right: 12vw;
}

img.letra{   
  float: right;
  width: 14%;
}

h3{
  margin: 0;
  text-align: left;
}

p{
   margin:0;    
}

button.botao{
  background-color: pink;
  border-radius: 6px;
  border-color: pink;    
  height: 6vw; 
  width: 20%;   
  font-size: 2vw;
  margin: 30px 10px 10px 70vw;
 
}

select.select1{
   width: 382px;
   height: 22px;
   border-color: rgb(169, 169, 169);
}

p.casal{
   text-align: center;
   font-size: 3vw;
}

input.form-control{
  width: 82vw;
  height: 3vw;
}

input#cel{
  width: 40vw;
  height: 3vw;
}

select.select1{
  width: 83vw;
  height: 4vw;
}

select.select2{
  width: 120%;
  height: 4vw;
  border-color: rgb(169, 169, 169);
}

/*----------------------LOGADO-----------------*/

a.edit{
  text-decoration: none;
  color: #4F4E4E;
  float: right;
  padding-right: 6%;
}

#b1{
  background-color: pink;
  border: solid grey 1px;
  height: 4vw;
  width: 26.5%;
  margin-left: -7px;
  font-size: 110%;
}
.java{margin-left: 15px}
.primary{   
  background-color:pink;
  border:solid grey 1px ;    
  height: 4vw; 
  width: calc( 92% / 5) ;
  margin-right: -6px;
  font-size: 100%;
}
.primaryA{   
  background-color:pink;
  border:solid grey 1px ;    
  height: 4vw; 
  width: calc( 92% / 4) ;
  margin-right: -6px;
  font-size: 100%;
}

div.conv{
  border-color: grey;
  border-style: dotted;
  border-width: thin;  
  margin: 2% 5% 2% 5%;
  padding: 3% 8% 3% 8%;
}

label.qtd{
  float: right; 
  font-size: 2.5vw;   
}

label.nm{
  font-size: 2vw;
}
p.c{
  padding-left: 5%;
  font-size: 2.5vw;
} 

a.pres{
  padding-left: 28px;
}
a.co{
  padding-left: 12%;
}

hr.w{
  margin: 0 auto;
  margin-top: 2%;}

.cma{
    border-radius: 6px;
    background-color: pink;
    border-color:pink;
    padding:1% 2% 1% 2%;
    float: right;
  }

 div.princ{   
    background-color: pink;    
    width:40%;     
    border-radius: 6px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;          
    margin-left:6px;
    margin-top: 6px; 
    font-size:2vw;
 }  
    
.l1{
font-size: 2.5vw;
}
/* --------------botao editar de baixo---------*/
/* Esconde o input */
input.at[type='file'] {
  display: none}      

label.at { 
border-radius: 6px;
font-size: 3vw;
cursor: pointer;
margin: -50% 0% 0% 70%;
padding: 7px 24px;
position: absolute;
background: #ffc0cbbd;
/* 
top: 75vw;
left: 80%;
*/    
}
/*botao alterar de cima*/
input.cim[type='file'] {
display: none}      

label.cim { 
border-radius: 6px;
font-size: 3vw;
cursor: pointer;
margin: -3% 0% 0% 66%;
padding: 4px 11px;
position: absolute;
background: #ffc0cbbd; 
}

#irineu{
  position:relative;
  margin-top: 10px;
}

#irineu button{
  font-size: 2vw;
  border: 0px;
  position:absolute;
  top: 1vw;
 left: 68%;
  background: #ffc0cb8c;
  border-radius: 6px;
  /*-webkit-transform:translate3d(-50%, -50%, 0); 
  transform:translate3d(-55%, -50%, 0);*/
}

.add{
  margin-top: 1%;
  margin-left: 4%;
  border-radius: 6px;
  background-color: pink;
  border-color:pink;
  padding:1% 2% 1% 2%;
  float: left;
}

.edit{
  font-size: 2vw;
}

  /*favoritos*/
#l{
    width: 23%;
    margin: 0.8%;
    font-size: 2.5vw;
}
/*---------------CLIENTE ADM--------------*/

.pri{
  background-color:pink;
  border:solid grey 1px ;    
  height: 4vw;
  width: 33.6%;
  margin-left: -6px;
  font-size: 120%;   
}

/*----------PERFIL VENDEDOR -----------*/

  
#TopoVendedor h1{float: right; margin-right: 25%; font-size: 5vw;}
#TopoVendedor img{ width: 170px; height: 95px;}
#LNIP{width: 160px;}
#InserirN{width: 30vw;}
#FonT{font-size: 17px}
.ETeste{bottom: 115px; left: 0px; font-size: 17px; height: 40px;}
#tv{
    width:102px;
} 
#MenuVendedor img{
    margin: 10px 10px;
}
#MenuVendedor ol{height: 40px; font-size: 27px}
  /*#FotosVendedor{ margin: 0 10%}*/
  #FotosVendedor img, #ProdutosVendedor img, #ProdutosVendedorL img{width: 220px;}
  #ProdutosVendedor, #ProdutosVendedorL{display: none}

  div#InfoVendedor h2{
    font-size: 3vw;
   }

  h3{
     font-size:  2vw;
   }

   .btnPF a{
    font-size: 35px
  }
  /*----- modal das imagens -----*/
  .modal-content {
    width: 40%;
  }
  .dsFoto{
    width: 100%;
    height: 75px;
    top: calc(99% - 75px);
    background-color: rgba(220,290,255,0.4); 
}
.dsFoto p{color: black}
   /* nao logado*/

   #prod{margin-left: 3% }
   #prod img{
    width: 152px;
    margin-top: 10px;
    margin-left: 1%;  }

   /* produto*/
    #SobreProduto h1{font-size: 5.5vw;}
 /*---------------------------------------------ALL USER--------------------*/
 .pes{
  margin-top: 0px;
  float: right;  
  border-radius: 10px;
  padding: 1% 2% 1% 2%;
  font-size: 3vw;
  border-color: pink;
  background-color: pink;
  }

      
  .fil{
    width: 14%;
  }
  
  .x{width: 10%; float: right}
  
  div.camp{
    margin:2%;
    padding: 0% 2% 2% 0%;
  }
  
  #yz{
    margin-left: 3%; 
    margin-top: 2%; 
    padding-right: 20%;
    width: 400px;
    height: 40px;
    font-size: 2vw
  }

  .cli{
    font-size: 1.5vw
}
#preview{
  height: 15vw;
}

 /*fatality*/
 #campocopia{width: 100%; height: 25px;position: relative; margin: auto;}
 #campocopia input{ font-size: 16px}

 .produto_loja img{width: 197px; margin-left: 35px;height: 150px;}