<!DOCTYPE html>

        <title>Casamento dos Sonhos</title>
        <meta charset=UTF-8>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <meta name=description content="Uma maneira simples de fazer seu casamento">
        <meta name=keywords content="Casamento">
        <meta name=author content='Amanda Isabeli, Gustavo Felipe, Hellen Cristina, Hiago Victor, Leonardo Amorim, Nathan Garcia INI3A'>         
        <link href="../_css/default.css" rel=stylesheet>
        <!-- Telas Responsivas -->
        <link rel=stylesheet media="screen and (max-width:480px)" href="../_css/style480.css">
        <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="../_css/style760.css">
        <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="../_css/style1024.css">
        <link rel=stylesheet media="screen and (min-width:1025px)" href="../_css/style1366.css">
        <!-- Jquery-->
        <script src="../_js/jquery-3.3.1.min.js"></script>
        <script src="../_js/javascript.js"></script>
        <script src="../_js/passopasso.js"></script>
        <script src="../_js/jquery.easing.min.js"></script>
        <script src="../_js/jquery.min.js"></script>
        <div id="container">

            <header>
                <a href="../../"><img src="../_imagens/logo.png" title="Casamento dos sonhos" id="logo"></a>
                <div id="ferramentas_topo">
                <form method="post" action="pesquisa.php">

                <input type="search" name="pesquisar" id="pesquisar" maxlength="34">
                <input type="image" src="../_imagens/pesquisar.png" style="width: 28px; height: 28px;" name="pesquisar">  

                </form> 

                <div id="icones_topo">
                <a href="../perfil.php"><img id="user_icone" src="../_imagens/user.png" title="Casamento dos sonhos"></a>
                <!-- <?php if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                    echo '<a href="../perfil.php"><img id="user_icone" src="../_imagens/user.png" title="Casamento dos sonhos"></a>';
                }else{
                    echo '<a href="../login/"><img id="user_icone" src="../_imagens/user.png" title="Casamento dos sonhos"></a>';
                }
                ?> --> 
                <a href="../loja/"><img id="loja_icone" src="../_imagens/loja.png" title="Casamento dos sonhos"></a>   
                </div></div>
            </header>





    <main id="produto">
     
        <section id="SobreProduto">
            <h1 > <!--<?php echo $fetch["nomeproduto"]; ?> --> nome produto </h1>
            <img src="../_imagens/galeria1.jpeg" style="width:100%; margin-top:20px">
           <!-- <img src="<?php echo  $fetch["imgproduto"]; ?>" style="width:100%; margin-top:20px"> -->
            <div id="valorP">
                <h2>R$: 00,00</h2>
                <a href="link_da_pagina">Ver no Site</a>   
            </div>
    
    <div id="descrip_produto">
        <div id="PrimeiraCaixa">
            <p><!--<?php echo $fetch["descricaoproduto"]; ?>-->mensagem </p>
        </div>
        <div id="SegundaCaixa">
            <article>
            <h2>Descrição</h2>
           
            <h3>Vai vir do perfil vendedor</h3>
            <h3>Vai vir do perfil vendedor</h3>
            <h3>Vai vir do perfil vendedor</h3>
            <a href="#"><h3>Vai vir do perfil vendedor</h3></a>
            </article>
            <a href="#"><img src="../_imagens/galeria2.jpeg"></a>
        </div>
    </div>
</section>
<section id="MensagemEnviar">
    <form action="EnviarMensagem.php" method="POST">
        <label>EmailUsuario@exemplo.com</label>
        <label>EmailVendedor@exemplo.com</label>
        <textarea placeholder="Digite aqui sua mensagem"></textarea>
        <input type="image" src="../_imagens/EnviarP.png" width="40px" name="Enviar" id="btnForm">
    </form>
</section>
    <div id="all_icones">
        <a href="#"><img src="../_imagens/descricao.png" alt="descrição"></a>
        <a href="#"><img src="../_imagens/msg.png" alt="mensagem"></a>
        <a href="#"><img src="../_imagens/favorito.png" alt="favorito"></a>
    </div>
    <section id=c">
            <nav>
                    <ol id="menu">
                        <li><a href="../../" class="item home">HOME</a>
                        <li><a href="../loja/" class="item">LOJA</a>
                        <li><a href="../login/" class="item login" id="link">LOGIN&nbsp;/&nbsp;CADASTRO</a>
                            
                       <!--<?php 
                       if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                           echo '<li><a href="../perfil.php" class="item login" id="link">&nbsp;PERFIL&nbsp;</a>';
                           
                       }else{
                          echo '<li><a href="../login/" class="item login" id="link">LOGIN&nbsp;/&nbsp;CADASTRO</a>';        
                       }
                       ?> -->
                    </ol>
                    </nav>
    </section>
    <footer>
                <img src="_imagens/logo.png">
                <a href="../../"><p>Casamedosonhos.com</p></a>
                    <p>grupo 5 INI3A</p>
    </footer>
               
    </main>  
    <footer>
    
    </footer>   
    </div>
