          
    <main id="produto">
           
        <section id="SobreProduto">
            <h1 > Nome produto </h1>
            <img src="../_imagens/galeria1.jpeg" class="ffr"><br>
           
              <label class="am">Endereço: SP, Barueri, Engenho Novo</label>     
           <div id="valorP">
                <h2>R$: 00,00</h2>
                <a class="ver" href="link_da_pagina">Ver no Site</a>   
            </div>
    
    <div id="descrip_produto">
        <div id="PrimeiraCaixa">
            <p>mensagem </p>
        </div>
        <div id="SegundaCaixa">
                <a href="#"><img src="../_imagens/galeria2.jpeg"></a>
            <article>
            <h2>Descrição</h2>               
            <h3>Vai vir do perfil vendedor</h3>
            <h3>Vai vir do perfil vendedor</h3>
            <h3>Vai vir do perfil vendedor</h3>
            </article>
          
       
            </div>
        </div>
            
</section>

<section id="MensagemEnviar">
        <form action="EnviarMensagem.php" method="POST" class="digi">
            <label>EmailUsuario@exemplo.com</label>
            <label>EmailVendedor@exemplo.com</label><br>
            <label>Nome produto</label>
            <textarea placeholder="Digite aqui sua mensagem"></textarea>
            <input type="image" src="../_imagens/EnviarP.png" width="40px" name="Enviar" id="btnForm">
        </form>
    </section>

    
    <div id="all_icones">
        <a href="#" class="one"><img  src="../_imagens/descricao.png" alt="descrição"></a>
        <a href="#"><img src="../_imagens/msg.png" alt="mensagem"></a>
        <a href="#"><img src="../_imagens/favorito.png" alt="favorito"></a>
    </div>   
   <div class="msg2">
       <form class="two" action="">
             <a href="#" class="clos"> X  Fechar</a>
            <label class="name">Nome produto</label>
            <textarea class="ms" placeholder="Digite aqui sua mensagem"></textarea>
            <input type="image" src="../_imagens/EnviarP.png" class="go">
        </form>
        </div>
        <div id="branco" style="width: 50%;height: 30px"></div>
        <section id=c>
                <nav>
                        <ol id="menu">
                            <li><a href="../../" class="item home">HOME</a>
                            <li><a href="../loja/" class="item">LOJA</a>
                           <?php 
                           if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                               echo '<li><a href="../perfil/perfil.php" class="item login" id="link">PERFIL</a>';
                               
                           }else{
                              echo '<li><a href="../login/" class="item login" id="link">LOGIN&nbsp;/&nbsp;CADASTRO</a>';        
                           }
                           ?> 
                        </ol>
                        </nav>
        </section>      
        
        
        <footer id="Bg13">
                <img src="../_imagens/logo.png">
                <a href="../../"><p>Casamedosonhos.com</p></a>
                    <p>grupo 5 INI3A</p>
                   
        </footer>
        <script>
            ws = ($(window).width() - 20) + "px";
            $("#Bg13").css("width", ws);
        </script>
        <style>
            #c nav{
                position: fixed;
                left: 2px;
            }
            footer{
                position: absolute;
                bottom: -500px;
                left: 0;
            }
        </style>
        </div>
    

