          
    <main id="produto">
           
        <section id="SobreProduto">
            <h1 > <?php echo $nome; ?> </h1>
            <img src="<?php echo $foto;?>" class="ffr"><br>
           
              <label class="am">Endereço: <?php echo $loc; ?></label>     
           <div id="valorP">
                <h2>R$: <?php echo $preco; ?></h2>
                <a class="ver" href="<?php echo $sprod; ?>">Ver no Site</a>   
            </div>
    
    <div id="descrip_produto">
        <div id="PrimeiraCaixa">
            <p><?php echo $desc; ?></p>
        </div>
        <div id="SegundaCaixa">
                <a href="../perfil/perfil.php?codigo=<?php echo $codEmpresa ?>&par=2'"><img src="<?php echo $fotoE; ?>"></a>
            <article>
            <h2>Descrição</h2>               
            <h3><?php echo $nomeE;?></h3>
            <h3>Tel: <?php echo $contato; ?></h3>
            <h3><?php echo $locC.", ". $locEst; ?></h3>
            </article>
          
       
            </div>
        </div>
            
</section>
<section id="MensagemEnviar">
    <form action="../email/enviarEmail.php" method="POST" class="digi">
        <label><?php if(isset($_SESSION["email"])){echo $_SESSION["email"]; }else{ ?>EmailUsuario@exemplo.com<?php } ?></label>
        <label><?php echo $emailE; ?></label><br>
        <label><?php echo $nome; ?></label>
        <textarea placeholder="Digite aqui sua mensagem" name="msg" ></textarea>
        <input type="hidden" name="idUsu" value="<?php $id = $_SESSION['id']; echo $id ?>">
        <input type="hidden" name="emailE" value="<?php echo $emailE ?>">
        <input type="hidden" name="nomeProd" value="<?php echo $nome ?>">
            
        <input type="image" src="../_imagens/EnviarP.png" width="40px" name="Enviar" id="btnForm">
    </form>
</section>    
    <div id="all_icones">
        <a href="#" class="one"><img  src="../_imagens/descricao.png" alt="descrição"></a>
        <a href="#"><img src="../_imagens/msg.png" alt="mensagem"></a>
        <a href="favorita.php?cod=<?php echo $idProd; ?>"><img src="../_imagens/favorito.png" alt="favorito"></a>
    </div>   
   <div class="msg2">
       <form class="two" action="../email/enviarEmail.php" method="POST">
             <a href="#" class="clos"> X  Fechar</a>
            <label class="name" style="white-space: nowrap; overflow: hidden;text-overflow:  ellipsis;"> <?php echo $nome; ?></label>
            <textarea class="ms" name="msg" placeholder="Digite aqui sua mensagem" style="resize:none;"></textarea>
            <input type="hidden" name="idUsu" value="<?php $id = $_SESSION['id']; echo $id ?>">
            <input type="hidden" name="emailE" value="<?php echo $emailE ?>">
            <input type="hidden" name="nomeProd" value="<?php echo $nome ?>">
            <input type="image" src="../_imagens/EnviarP.png" class="go">
        </form>
        </div>
        <div id="branco" style="width: 50%;height: 30px"></div>

       <?php
       if(isset($_SESSION["email"]) and isset($_SESSION["defini"])){
        if($_SESSION["defini"] == 3){
            echo '<input id="navbar" type="checkbox">';
            echo '<label for="navbar" id="LHburg">';
            echo "<div class='menuBurg'>";
            echo  "<span class='hamburger'></span>";
            echo   "</div>";
            echo   "</label>";
        
           echo'<ul id="selecton">';
           echo     '<li><a class="HBurg" id="abriAdd" href="#" onclick="abreCadastro()">+1 ADM</a></li>';
           echo '<div id="NewADM" style="position: absolute;display: none">
            <form action="../cadastro/cadastroADM.php" method="POST">
                <input type="text" name="nomeAdm" placeholder="Nome Adm">
                <input type="email" name="emailAdm" placeholder="Email do Adm">
                <input type="password" name="senhaAdm" placeholder="Senha adm">
                <input type="submit">
            </form><br></div>';
            echo     '<li><a class="HBurg" id="DesceMA" href="../perfil/deslogar.php">Deslogar</a></li>';
            echo '</ul>';
          
           
        }else{
    
        }
        }else{}
       ?>
        
        <section id=c>
                <nav>
                        <ol id="menu">
                            <li><a href="../../" class="item home">HOME</a>
                            <li><a href="../loja/" class="item">LOJA</a>
                                <?php 
                                if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                                    if($_SESSION["defini"]!= 3){
                                    echo '<li><a href="../perfil/perfil.php" class="item login" id="link">PERFIL</a>';
                                    }else{
                                     echo '<li><a href="../allUser/" class="item login" id="link">PERFILS</a>';
                                    }
                                }else{
                                   echo '<li><a href="../login/" class="item login" id="link">LOGIN&nbsp;/&nbsp;CADASTRO</a>';        
                                }
                                ?> 
                        </ol>
                        </nav>
        </section>      
        
        
        <footer id="Bg13">
                <img src="../_imagens/logo.png">
                <a href="../../"><p>Casamedosonhos.com</p></a>
                    <p>grupo 5 INI3A</p>
                   
        </footer>
        <script>
            ws = ($(window).width() - 20) + "px";
            $("#Bg13").css("width", ws);
        </script>
        <style>
            #c nav{
                position: fixed;
                left: 2px;
            }
            footer{
                position: absolute;
                bottom: -500px;
                left: 0;
            }
        </style>
        </div>
    

