
                <section id="vendedor">
                 <div id="TopoVendedor">
                    <h1 class="SumiuTopo"><?php echo $nome ?></h1>
                    <img src="<?php echo $imagemL ?>" class="SumiuTopo">
                 </div>
                 <div id="InfoVendedor">
                     <h2>Descrição</h2>
                     <article>
                       <h3 class="btnXa" >Categoria do Vendedor: <?php echo $funcE ?></h3>
                       <h3 class="btnXa">Telefone: <?php echo $telE ?></h3>
                       <h3 class="btnXa">Endereço: <?php echo $ruaE. " - ".$bairroE." - ". $cidadeE. " - ". $estadoE ?></h3>
                    </article>
                 </div>
                 <div id="MenuVendedorD">
                    <ol>
                        <li>Fotos</li>
                        <li>Produto</li>
                    </ol>
                 </div>
                 <br><br>
                   <div class="ad">
        <button class="pri" id=""><a href="../excluir/excluirE.php?emailE=<?php echo $emailE ?>" class="remove">Excluir</a></button>
        <button class="pri" id=""><a href="../banimento/Banimento.php?emailB=<?php echo $emailE ?>" class="remove">Banir</a></button>
        <button class="pri" id="" onclick="alerta();">Alertar </button>
        <br><br>
        <style>
        </style>
        <div class="CAlerta">
            
            <form action="../alert/alertEmpre.php" method="POST" class="formAlerta">
                <textarea class="campoAlerta" name="Alert" placeholder="Digite o alerta..."></textarea>
                <input type="hidden" name="codAlert" value="<?php echo $codEmpre ?>">
                <input type="image" src="../_imagens/EnviarP.png" class="goAlerta">
            </form>
            <button class="btnCancela" onclick="FechaAlert();">Cancela</button>
        </div>
</div>      
                    <div id="FotosVendedor">
                        
                         <?php  $cF2=0; $nufo = 1;
                         if(!(isset($dadosFot))){echo "<h1> Esta empresa não tem nenhuma foto!</h1>";}else{
                             
                            
                                
                                while($cF2 < count($dadosFot)){ ?>
                                    <div class="Fcampo">
                                <img src="<?php  echo $dadosFot[$cF2]['url_foto_empresa']; ?>" class="hover-shadow cursor" onclick="openModal();currentSlide(<?php echo $nufo;?>)"><br>
                                </div>
                                <?php $cF2++; $nufo++;} }?>
                     </div>
                    
                     
                    <div id="ProdutosVendedorL">
                                    <?php 
                                        $l = 0;
                                        if($l < count($dadosProd)){
                                        while($l < count($dadosProd)){ ?>   
                                            <div class="Pcampo">
                                                    <a href="../produto/index.php?cod=<?php echo $dadosProd[$l]['cod_produto']; ?>">
                                                    <img src="<?php echo $dadosProd[$l]['url_foto_prod']; ?>" alt="imagem<?php echo $l ?>">
                                                    </a>
                                        
                                            </div>
                                                    <?php $l++; } }else{echo "<h1> Esta empresa não possui nenhum Produto!</h1>";} ?> 
                    </div>
                 </div>
                   
                </section> 
                <div id="myModal" class="modal">
                        <span class="close cursor" onclick="closeModal()">&times;</span>
                        <div class="modal-content">
                      <?php $cF=0; while($cF < count($dadosFot)){ ?>
                          <div class="mySlides">
                              <h2 class="nomedaFoto"><?php echo $dadosFot[$cF]['nome_foto']; ?></h2>
                            <img src="<?php echo $dadosFot[$cF]['url_foto_empresa']; ?>" style="width:100%">
                              <div class="dsFoto">
                                  <p> 
                                      <?php echo $dadosFot[$cF]['desc_foto']; ?>                                 
                                                                            
                                  </p>
                                  </div>
                          </div>
                      <?php  $cF++; } ?>
                          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                          <a class="next1" onclick="plusSlides(1)">&#10095;</a>
                      </div>  
                      </div>
                      
