                
            <main>
                <section id="vendedor">
                 <div id="TopoVendedor">
                    <img src="../_imagens/galeria2.jpeg" id="tv">
                    <h1>Nome Empresa</h1>
                 </div>
                 <div id="InfoVendedor">
                     <h2>Descrição:</h2>
                     <article>
                       <h3>Função:</h3>
                       <h3>Telefone:</h3>
                       <h3>Endereço:</h3>
                       <a href="#"><h3>Site</h3></a>  
                     </article>
                 </div>
                 <div id="MenuVendedor">
                    <ol>
                        <li>Fotos</li>
                        <li>Produto</li>
                    </ol>
                    <?php if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                        
                    }else{
                        
                    }
                    ?>
                    <div id="FotosVendedor">
                        <img src="../_imagens/galeria1.jpeg" alt="imagem 01">
                        <img src="../_imagens/galeria1.jpeg" alt="imagem 02">
                    </div>
                     
                    <div id="ProdutosVendedor">
                        <a href="#"><img src="../_imagens/galeria2.jpeg" alt="imagem 01"></a>
                        <a href="#"><img src="../_imagens/galeria2.jpeg" alt="imagem 02"></a>                       
                    </div>
                 </div>
                </section>
                           
                </main>  
