
                
            <main>
                <section id="vendedor">
                 <div id="TopoVendedor">
                    <img src="<?php echo $imagemL ?>" >
                    <h1><?php echo $nome ?></h1>
                 </div>
                 <div id="InfoVendedor">
                     <h2>Descrição</h2>
                     <article>  
                       <h3>Categoria da Empresa/Vendedor: <?php echo $funcE ?></h3>
                       <h3>Telefone: <?php echo $telE ?></h3>
                       <h3>Endereço: <?php echo $ruaE. " - ". $cidadeE. " - ". $estadoE ?></h3>
                       <a href="#"><h3>Site</h3></a>  
                     </article>
                 </div>
                 <div id="MenuVendedor">
                    <ol>
                        <li>Fotos</li>
                        <li>Produto</li>
                        <li onclick="adicionar();">Adicionar</li>
                        <li>deslogar</li>
                    </ol>
                    <div id="FotosVendedor" >
                        <?php  $cF2=0; $d=0; 
                            if($d<=$cF2){ 
                                while($cF2 < count($dadosFot)){ ?>                       
                     <img src="<?php  echo $dadosFot[$cF2]['url_foto_empresa']; ?>" alt="imagem 01" onclick="openModal();currentSlide($d)" class="hover-shadow cursor"></a>
                     
                            <?php $cF2++; $d++; } }?>
                    </div>
                    
                     
                    <div id="ProdutosVendedorL">
                                    <?php 
                                        $l = 0;
                                        while($l < count($dadosProd)){ ?>   
                                <a href="../produto/?id=<?php echo $dadosProd[$l]['cod_produto']; ?>"  >
                                    
                                <img src="<?php echo $dadosProd[$l]['url_foto_prod']; ?>"  alt="imagem<?php echo $l ?>">
                                
                                </a><?php $l++; } ?></form>
                    </div>
                    <div id="ProdutosFotos" style="display:none"x>
                        <fieldset class="btnPF">   
                        <a href="#janela2" rel="modal2">FOTOS</a>
                        <div class="cor"></div>
                        </fieldset>
                        <div class="window" id="janela2">
                            <a href="#" class="fechar">&#215;</a>
                            <h4>Cadastro do Foto</h4>
                            <form action="../foto/cadastroFotoVendedor.php" method="post" enctype="multipart/form-data">
                                <input type="name" name="nomeFoto" placeholder="Nome Foto" >
                                <div id="quadrof" style="border:none">
                                
                                </div>
                                <input type=file id=imgChooser name="imgEsc" onclick="criaimg()">
                                <textarea style="resize: none; height: 50px; padding: 5px" name="descFoto" placeholder="Legenda..."></textarea>
                                <button class=".button">Salvar</button>
                            </form>
                        </div>
                        <div id="mascara2"></div>

                        <fieldset class="btnPF"> 
                        <a href="#janela1" rel="modal">PRODUTOS</a>
                        <div class="cor"></div>
                        </fieldset>
                        <div class="window" id="janela1">
                            <a href="#" class="fechar">&#215;</a>
                            <h4>Cadastro do Produto</h4>
                            <form action="../perfil_vendedor/adicionarprodutov.php" method="post" enctype="multipart/form-data">
                                <input type="name" name="nomeproduto" placeholder="Nome Produto" >
                                <div id="quadroP" >
                                
                                </div>
                                <input type="text" name="localproduto" placeholder="Digite a localização do Produto">
                                <input type="number" name="precoproduto" placeholder="Digite o Preço Ex: 99">
                                <input type="url" name="linkproduto" placeholder="Digite o link do produto">
                                <input type="file" id="imgChooserP" name="SImagemP" onclick="criaimg2()">
                                <textarea style="resize: none; height: 50px; padding: 5px" name="descricao" placeholder="Descrição..."></textarea>
                                 <select name="cat">
                                        <option selected>Selecione a Categoria:
                                        <?php 
                                        $r = 0;while($r < count($dadosCat)){?>                                      
                                    <option  value="<?php echo $dadosCat[$r]['nome_categoria']  ?>"><?php echo $dadosCat[$r]['nome_categoria']  ?>
                                            <?php  $r++; } ?>
                                  </select>
                                <button>Salvar</button>
                            </form>
                        </div>
                        <div id="mascara"></div>
                    </div>
                 </div>
                   
                </section> 
                <div id="myModal" class="modal">
                        <span class="close cursor" onclick="closeModal()">&times;</span>
                        <div class="modal-content">
                      <?php $cF=0; while($cF < count($dadosFot)){ ?>
                          <div class="mySlides">
                              <h2 class="nomedaFoto"><?php echo $dadosFot[$cF]['nome_foto']; ?></h2>
                            <img src="<?php echo $dadosFot[$cF]['url_foto_empresa']; ?>" style="width:100%">
                              <div class="dsFoto">
                                  <p>
                                      
                                      <?php echo $dadosFot[$cF]['desc_foto']; ?>                                 
                                                                            
                                  </p>
                                  </div>
                          </div>
                      <?php  $cF++; } ?>
                    
                          
                          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                          <a class="next1" onclick="plusSlides(1)">&#10095;</a>
                      </div>      
            </main>
            <script>
                function adicionar(){
                    $("#FotosVendedor").css("display","none");
                    $("#ProdutosVendedorL").css("display","none"); 
                    $("#ProdutosFotos").css("display","block"); 
                }

                    $(document).ready(function(){
                        $("#MenuVendedor ol li:last-child").click( function(){
                            location.href='../perfil/deslogar.php' ;
                        });

    $("a[rel=modal]").click( function(ev){
        ev.preventDefault();
 
        var id = $(this).attr("href");
 
        var alturaTela = "180%";
        var larguraTela = "100%";
     
        //colocando o fundo preto
        $('#mascara').css({'width':larguraTela,'height':alturaTela});
        $('#mascara').fadeIn(1000); 
        $('#mascara').fadeTo("slow",0.8);
 
        var left = (($(window).width() /2) - ( $(id).width() / 2 )- 10);
        var top = "10%"  ;
     
        $(id).css({'top':top,'left':left});
        $(id).show();   
    });
 
    $("#mascara").click( function(){
        $(this).hide();
        $(".window").hide();
    });
 
    $('.fechar').click(function(ev){
        ev.preventDefault();
        $("#mascara").hide();
        $(".window").hide();
    });
        
        $("a[rel=modal2]").click( function(ev){
        ev.preventDefault();
 
        var id = $(this).attr("href");
 
        var alturaTela = "120%";
        var larguraTela ="100%";
     
        //colocando o fundo preto
        $('#mascara2').css({'width':larguraTela,'height':alturaTela});
        $('#mascara2').fadeIn(1000); 
        $('#mascara2').fadeTo("fast",0.8);
 
        var left = (($(window).width() /2) - ( $(id).width() / 2 )-10);
        var top = "20%";
     
        $(id).css({'top':top,'left':left});
        $(id).show();   
    });
 
    $("#mascara2").click( function(){
        $(this).hide();
        $(".window").hide();
    });
 
    $('.fechar').click(function(ev){
        ev.preventDefault();
        $("#mascara2").hide();
        $(".window").hide();
    });
        
        function readImage() {
if (this.files && this.files[0]) {
    var file = new FileReader();
    file.onload = function(e) {
        document.getElementById("preview").src = e.target.result;
        
    };       
    file.readAsDataURL(this.files[0]);
}
}

document.getElementById("imgChooser").addEventListener("change", readImage, false);


    /* sei nao ein parceiro tem algo errao aqui */
    
    function readImage2() {
if (this.files && this.files[0]) {
    var file = new FileReader();
    file.onload = function(e) {
        document.getElementById("previewP").src = e.target.result;
        
    };       
    file.readAsDataURL(this.files[0]);
}
}

document.getElementById("imgChooserP").addEventListener("change", readImage2, false);
});
        var umaunicaimagem = 1, umaimagem = 1;
    
    function criaimg(){
        if(umaunicaimagem == 1){
            $("#quadrof").append('<img id=preview style="width:70%;" alt="Carregue Sua Foto Abaixo">');
                umaunicaimagem = 2;
        }else{
            
        }
            
    }
    
    function criaimg2(){
        if(umaimagem == 1){
            $("#quadroP").append('<img id=previewP style="width:70%;" alt="Carregue Sua Foto Abaixo">');
                umaimagem = 2;
        }else{
            
        }
            
    }

    function openModal() {
  document.getElementById('myModal').style.display = "block";
  $('html').addClass('classhtml');
  
}


function closeModal() {
  document.getElementById('myModal').style.display = "none";
  $('html').removeClass('classhtml')
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
            </script>  

<div id="branco" style="width: 50%;height: 70px"></div>
