
                
            <main>
                <section id="vendedor">
                 <div id="TopoVendedor">
                    <img src="../_imagens/galeria2.jpeg" width="102px">
                    <h1>Nome Empresa</h1>
                 </div>
                 <div id="InfoVendedor">
                     <h2>Description</h2>
                     <article>
                       <h3>Funcção</h3>
                       <h3>Telefone</h3>
                       <h3>Endereço</h3>
                       <a href="#"><h3>Site</h3></a>  
                     </article>
                 </div>
                 <div id="MenuVendedor">
                    <ol>
                        <li>Fotos</li>
                        <li>Produto</li>
                    </ol>
                    <div id="FotosVendedor">
                        <a  class="btnP">Adicionar Fotos</a>
                    </div>
                     
                    <div id="ProdutosVendedorL">
                          <a href="#"><img src="../_imagens/galeria2.jpeg" alt="imagem 01"></a>
                            <a onclick="campoadd()" class="btnP">Adicionar Produto</a>
                    </div>
                 </div>
                   
                </section>
                    <div id="addProduto">
                        <div id="produto">
                            <form action="adicionarprodutov.php" method="post">
                                <section id="SobrProduto">
            <h1 > <input type="text" name="nomeproduto" placeholder="Nome do Produto"></h1>
            <img src="../_imagens/galeria1.jpeg" style="width:100%; margin-top:20px">
            <input type="file" name="imgproduto">
            <div id="valorP">
                <h2>R$: <input type="number" name="precoproduto" placeholder="Preço do Produto" style="width: 100px;"></h2>
                <input type="text" name="url" placeholder="Url do Produto">
            </div>
            
    <div id="des_produto">
            <textarea name="descricao" placeholder="Informe a Descrição do Produto"></textarea>
    </div>
                                    <a href="">cancela</a>
            <input type="submit" value="Enviar Produto">
                                    
</section>
                            </form>
                        </div>
                            
                                
                            </div>       
            </main>
            <script>
                function campoadd(){
                    $("#vendedor").css("display","none");
                    $("#addProduto").css("display","block");
                    
                }
            </script>  

