<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel=stylesheet type="text/css" media="screen and (max-width:480px)" href="../_css/style480.css">   
    <link rel=stylesheet type="text/css" media="screen and (min-width:481px) and (max-width:768px)" href="../_css/style760.css">  
    <link rel=stylesheet type="text/css" media="screen and (min-width:769px) and (max-width:1024px)" href="../_css/style1024.css">  
    <link rel=stylesheet type="text/css" media="screen and (min-width:1025px)" href="../_css/style1366.css">  
    <link rel="stylesheet" type="text/css" href="../_css/default.css">
     
    <script src="../_js/jquery-3.3.1.min.js"></script>
        <script>
            $(function(){
        $("#campoAdd").css("display","none");
        $("#abrirAdd").on("click", function(){
            $("#campoAdd").css("display","block");
            });
        
    });
        </script>
    <style>
        .f1,.f2,.f3.f4{transition: width 2s;}
    </style>     
  </head>
  <body> 
    <div class="top" >
          <form id="formu">
        <div  id="irineu">           
          <img class="perfil" src="../_imagens/galeria3.jpeg">   
          <label class="cim" for='selecao-arquivo'>alterar</label>
          <input type="submit" onchange=submit() name="imagem">
          <input class="cim" id='selecao-arquivo' type='file'> 
        </div> 
    </form>
    <div class="java">
<br><br>
                    <button class="primary" id="b1">   Lista de presente </button>
                    <button class="primary" id="b2">   Principal </button>
                    <button class="primary" id="b3">   Convidados </button>
                    <button class="primary" id="b4">   Favoritos</button>
                    <br><br>
       </div>        

       <div class="f1">
            <p class="casal">Gabriela e Julio</p>    <br>    <br>  
            <div id="um">                                         
                    
                        <div class="tipo">
                            <p>Presente: Status: </p>                                    
                        </div> <br>
                    <div class="l1">
                            <input type="checkbox" class="checkbox" onclick="mostra('ma')"/>                             
                      <a class="pres"> Geladeira</a> 
                     <a class="co">Confirmado</a>                                                        
                            <INPUT type="button" class="cma" id="ma">Excluir</button>                               
                    </div>                                                                             
                                                      
                </div> <br><hr class="w">  
                <form action="ListaPresente.php" method="post" id="campoAdd">
                    <Input type="text" name="Nomepresente">
                    <Input type="submit" value="enviar" id="enviandoAdd">
                    </Form>     
                <button type="button" class="add" onclick="asd();" id="abrirAdd">Adicionar</button>                          
       </div>

                    <div class="f2">
                            <p class="casal">Gabriela e Julio</p><br>
                         
                            <div class="princ">
                                   <label id="prin">Dia:</label>
                                   <span>     hjhgjghj</span>
                                   <input type="number" class="form" id="" placeholder="xx/xx/xxxx" size="10"> 
                                   <a href="" class="edit">Editar</a>
                                   <br>
                                                                                    
                                   <label id="prin">Horário:</label>
                                   <span>     hjhgjghj</span>
                                   <input type="text" class="form" id="" placeholder="19:00" size="10">
                                  <!--<a href="" class="edit">Editar</a>-->
                                   <br>
                              
                                   <label id="prin">Local:</label>
                                   <span>     hjhgjghj</span>
                                   <input type="text" class="form" id="" placeholder="Endereço" size="25">
                                 <!--    <a href="" class="edit">Editar</a>-->
                                    <br>
                            </div> 
                            <form>    
                            <div class="b">                  
                            <img class="galeria3" src="../_imagens/galeria3.jpeg" >

                            <label class="at" for='selecao-arquivo'>alterar</label>
                            <input class="at" id='selecao-arquivo' type='file'>
                            </div>
                            <form>
                            <br>      
                    </div>

                    <div class="f3">
                            <p class="casal">Gabriela e Julio</p>    <br> 
                            <p class="c">Meus convidados:</p>
                            
                            <div class="conv">
                                <label class="nm">Gabriel Fernandes</label>
                                <label class="qtd">2 Acompanhantes</label><br>

                                <label class="nm">Arthur Silva</label>
                                <label class="qtd">2 Acompanhantes</label><br>

                                </div>
                    </div>

                    <div class="f4">
                            <p class="casal">Gabriela e Julio</p>    <br> <br>

                            <p id="l">Meus favoritos:</p>

                           <a href="#"><img class="fav1" id="l" src="../_imagens/galeria3.jpeg"></a>
                           <a href="#"><img class="fav2" id="l" src="../_imagens/galeria3.jpeg"></a>
                           <a href="#"><img class="fav3" id="l" src="../_imagens/galeria3.jpeg"></a>
                           <a href="#"><img class="fav4" id="l" src="../_imagens/galeria3.jpeg"></a>
                           <a href="#"><img class="fav5" id="l" src="../_imagens/galeria3.jpeg"></a>
                           
                    </div>                   
    </div>
              
                            

<script>
    var b1 = document.querySelector("#b1");
    var b2 = document.querySelector("#b2");
    var b3 = document.querySelector("#b3");
    var b4 = document.querySelector("#b4");

    var f1 = document.querySelector(".f1");
    var f2 = document.querySelector(".f2");
    var f3 = document.querySelector(".f3");
    var f4 = document.querySelector(".f4");

    f1.style.display = "none";
   // f2.style.display = "none";
    f3.style.display = "none";
    f4.style.display = "none"; 
   


    b1.addEventListener("click",function(){
        f4.style.display = "none"; 
        f3.style.display = "none";
        f2.style.display = "none";
        f1.style.display = "block";
       
    })

     b2.addEventListener("click",function(){
        f1.style.display = "none";
        f3.style.display = "none"; 
        f4.style.display = "none";         
        f2.style.display = "block";
       
     
    })
    b3.addEventListener("click",function(){
        f1.style.display = "none";
        f2.style.display = "none";
        f4.style.display = "none";         
        f3.style.display = "block"; 
                 
    })  

    b4.addEventListener("click",function(){
        f1.style.display = "none";
        f2.style.display = "none"; 
        f3.style.display = "none";        
        f4.style.display = "block";         
    })  
   //-------------------------------------------------------//
</script> 

   <style>
            button#ma{
                display: none;
            }            
          input.checkbox{
                display: block;
                
            }
            </style>
            
            <script>
                  function mostra(id){
                    if (document.getElementById(id).style.display == 'block'){
                    document.getElementById(id).style.display = 'none';                       
             }else{document.getElementById(id).style.display = 'block'; }  
            }                             
                  
             </script>                       
             
             <script>
             function submit(){
                 document.formu.submit;
             }
             </script>>
  </body>
</html>
