<!DOCTYPE html>


        <title>Casamento dos Sonhos</title>
        <meta charset=UTF-8>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <meta name=description content="Uma maneira simples de fazer seu casamento">
        <meta name=keywords content="Casamento">
        <meta name=author content='Amanda Isabeli, Gustavo Felipe, Hellen Cristina, Hiago Victor, Leonardo Amorim, Nathan Garcia INI3A'>         
        <link href="view/_css/default.css" rel=stylesheet>
        <!-- Telas Responsivas -->
        <link rel=stylesheet media="screen and (max-width:480px)" href="view/_css/style480.css">
        <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="view/_css/style760.css">
        <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="view/_css/style1024.css">
        <link rel=stylesheet media="screen and (min-width:1025px)" href="view/_css/style1366.css">
        <link rel="icon" href="view/_imagens/favicon.ico" type="image/x-icon">
        <!-- Jquery-->
        <script src="view/_js/jquery-3.3.1.min.js"></script>
        <script src="view/_js/javascript.js"></script>
        <script src="view/_js/passopasso.js"></script>
        <script src="view/_js/adm.js"></script>
        <div id="container">
            <style>
                html{background-color: #F2F2F2}
                </style>
            <header>
                <a href=""><img src="view/_imagens/logo.png" title="Casamento dos sonhos" id="logo"></a>
                <div id="ferramentas_topo">
                    
                <form method="get" action="view/pesquisa/">
                <input type="search" name="pesquisar" id="pesquisar" maxlength="100">
                    <input type="image" src="view/_imagens/pesquisar.png" style="width: 28px; height: 28px;" name="pesquisar">  
                
                <!--
                <form method="get" action="pesquisa/pesquisa.php">
                <input type="search" name="pesquisar" id="pesquisar" maxlength="100">
                <input type="submit" value="Pesquisar" />
                    <input type="image" src="imagens/pesquisar.png" style="width: 28px; height: 28px;" name="pesquisar"> 
                    -->
               
                </form> 
                <div id="icones_topo">
                        <?php if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                        if($_SESSION["defini"]!= 3){
                            echo '<a href="view/perfil/perfil.php"><img id="user_icone" src="view/_imagens/user.png" title="Casamento dos sonhos"></a>';
                        }else{
                            echo '<a href="view/allUser/"><img id="user_icone" src="view/_imagens/user.png" title="Casamento dos sonhos"></a>';
                        }
                        }else{
                            echo '<a href="view/login/"><img id="user_icone" src="view/_imagens/user.png" title="Casamento dos sonhos"></a>';
                        }
                        ?>
                <a href="view/loja/"><img id="loja_icone" src="view/_imagens/loja.png" title="Casamento dos sonhos"></a>   
                </div></div>
            </header>
                
            <main>
                
               <section>
                <figure>
                    <img src="view/_imagens/fundo.png" title="Casal" >
                    <figcaption>
                        <p>Nosso sonho é realizar o seu. Venha fazer seu casamento 
                            com facilidade e do jeito que sempre sonhou.</p>
                            <br><br>
                    <a href="#nos">Começar</a>
                    <?php 
                    if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                        if($_SESSION["defini"]!= 3){
                            echo '<a href="view/perfil/perfil.php"> Perfil </a>';
                        }else{
                         echo '<a href="view/allUser/"> Perfils </a>';
                        }
                    }else{
                     echo '<a href="view/login/"> Entrar </a>';         
                    }
                    ?> 
                    
                    
                    </figcaption>
                </figure>
                </section>
                    
                <section id="nos">
                    <h2>Casamento do Sonhos</h2>
                    <p >O site casamentos dos sonhos vem para
                        auxiliar o sonho de casais que pretendem se casar,
                           aqui você pode ter relações com empresas
                            e organizar seu casamento com facilidade
                             isso tudo da sua casa e através de um
                              <a href="view/cadastro/">clique</a>.
                </section>

                <section id="carrossel">
                    <div id="caixa">
                        <img src="view/_imagens/galeria1.jpeg">
                        <img src="view/_imagens/galeria2.jpeg">
                        <img src="view/_imagens/galeria3.jpeg">
                    </div>
                    
                </section>
                <?php
                if(isset($_SESSION["email"]) and isset($_SESSION["defini"])){
                 if($_SESSION["defini"] == 3){
                     echo '<input id="navbar" type="checkbox">';
                     echo '<label for="navbar" id="LHburg">';
                     echo "<div class='menuBurg'>";
                     echo  "<span class='hamburger'></span>";
                     echo   "</div>";
                     echo   "</label>";
                 
                    echo'<ul id="selecton">';
                    echo     '<li><a class="HBurg" id="abriAdd" href="#" onclick="abreCadastro()">+1 ADM</a></li>';
                    echo '<div id="NewADM" style="position: absolute;display: none">
                     <form action="view/cadastro/cadastroADM.php" method="POST">
                         <input type="text" name="nomeAdm" placeholder="Nome Adm">
                         <input type="email" name="emailAdm" placeholder="Email do Adm">
                         <input type="password" name="senhaAdm" placeholder="Senha adm">
                         <input type="submit">
                     </form><br></div>';
                     echo     '<li><a class="HBurg" id="DesceMA" href="view/perfil/deslogar.php">Deslogar</a></li>';
                     echo '</ul>';
                   
                    
                 }else{
             
                 }
                 }else{}
                ?>
                <section id=c>
                        <nav>
                                <ol id="menu">
                                    <li><a href="" class="item home">HOME</a>
                                    <li><a href="view/loja/" class="item">LOJA</a>
                                        <?php 
                   if(isset($_SESSION["email"]) and isset($_SESSION["senha"])){
                       if($_SESSION["defini"]!= 3){
                       echo '<li><a href="view/perfil/perfil.php" class="item login" id="link">PERFIL</a>';
                       }else{
                        echo '<li><a href="view/allUser/" class="item login" id="link">PERFILS</a>';
                       }
                   }else{
                      echo '<li><a href="view/login/" class="item login" id="link">LOGIN&nbsp;/&nbsp;CADASTRO</a>';        
                   }
                   ?> 
                                </ol>
                                </nav>
                </section>
               
                           
            </main>  
             <footer>
                <img src="view/_imagens/logo.png" style="margin-bottom: 10px;">
                <a href=""><p>Casamedosonhos.com</p></a>
                    <p>grupo 5 INI3A</p>
            </footer>  
        </div>

